{% extends "Comedor/base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<br>
<br>

<a href="/{{ product.category.slug }}"><img id="back" align="right" style="padding-right: 20px" src="{% static 'img/back.png' %}"/a></a>


	<div class="product-detail">
		<img style="width: 340px;height: 290px;" src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'img/no_image.png' %}{% endif %}">
		<h1>{{ product.name }}</h1>

		<h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
<p class="price">${{ product.price }}</p>
<div id="numericcontrol">

	<form id="the_form" action="{% url 'cart:cart_add' product.id %}" method="post">
			<a style="margin-right: 10px" class="minus" href="#">-</a>
		
			
		{{ cart_product_form.quantity}}
		{% csrf_token %}
		<a style="float: right;margin-right: 130px" class="plus" href="#">+</a>	
		<br>
		<br>
		<br>
		<input type="submit" value="Agregar a la orden">
		<br>
		<br>
		<br>
		<br>
	


</form>

	
</div>


</div>
{% endblock %}


{% block js %}
<script >
	$(document).ready(function() {


var numeric = document.getElementById("the_form");
numeric.quantity.value = "1";


	$val= numeric.quantity.value;
	
	$('#numericcontrol a.plus').click(function(){
		$val++;
		numeric.quantity.value = $val;
	});
	$('#numericcontrol a.minus').click(function(){
		
		if($val>1)
		{
		$val--;	
		numeric.quantity.value = $val;
		}
		else
		{
			alert("La cantidad no puede ser menor a 0");
		}
	});

});

</script>


{% endblock %}