{% extends "coolshop/base.html" %}
{% load widget_tweaks %}

{% block title %}
	Checkout
{% endblock %}

{% block content %}

	<h1>Pago con tarjeta</h1>
	<h2>Pasa tu tarjeta por el lector...</h2>



	<form action="." method="post" class="order-form">
		<h5>Numero de Tarjeta:</h5>
		{{ form.numerotarjeta |attr:"autofocus"}}
		<p><input type="submit" value="Enviar Orden"></p>
		{% csrf_token %}
	</form>

{% endblock %}


{% block js %}

<!--
<script >
$(document).ready(){


	function tarjetakeypress()
	{
		var numerotarjeta = document.getElementById("numerotarjeta");

		if (numerotarjeta.value.length == 14) {
			consultarDatosEmpleado(numerotarjeta)
		}
	}

	function consultarDatosEmpleado(numerotarjeta){
	$.ajax({
  url: "ajax_datosUsuario",
  data:{"numerotarjeta": numerotarjeta}
}).done(function() {
  var nombreinput = document.getElementById("id_nombre");
  var numeroinput = document.getElementById("id_numeroempleado");
  nombreinpt= request.data.nombre;

});
	}
</script>-->
{% endblock %}
