{% extends "coolshop/base.html" %}
{% load static %}
{% block title %}
	Pago
{% endblock %}

{% block content %}

	<h1>Forma de Pago</h1>
	<h2>Por favor, seleccione la forma de pago que desee.</h2>

<div>
	<a name="payment" href="{% url 'orders:order_create'%}?Tarjeta" class="button button-blue">
    <span>Tarjeta <img src="{% static 'img/caffenio.png' %}"/></span>
</a>
<br>
<a id="Efectivo" style=" width: 983; height: 161;" href="{% url 'orders:order_create'%}?Efectivo" class="button button-blue">
    <span>Efectivo<img src="{% static 'img/thing.png' %}"/></span>
</a>


	
	

</div>
{% endblock %}